<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/basic.min.css">
    <link rel="stylesheet" href="/css/dropzone.css">
    <link rel="stylesheet" href="/css/event.css">
    <title>Document</title>
</head>

<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src =
                'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=772833366242667&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <nav>
        <div class="nav-wrapper  grey darken-4">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="#">Winners</a>
                </li>
                <li>
                    <a>Welcome {{name}}</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn modal-trigger red darken-3" href="#modal1">Upload</a>
                </li>
                <li>
                    <a href="/logout" class="waves-effect waves-light">Logout</a>
                </li>

            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="#">Winners</a>
                </li>
                <li>
                    <a>Welcome {{name}}</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn modal-trigger red darken-3" href="#modal1">Upload</a>
                </li>
                <li>
                    <a href="/logout" class="waves-effect waves-light">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Upload a image</h4>


            {{!--
            <form method='post' action='upload' enctype="multipart/form-data">
                <!-- <input id="upload" type="file" class="btn btn-warning" name="userPhoto" /> -->

                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="userPhoto">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

                <button id="upload-form" class="btn waves-effect modal-close waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form> --}}

            <form method='post' action='/events/{{eventName}}/upload' enctype="multipart/form-data" class="dropzone" id="myAwesomeDropzone">
                <!-- <input id="upload" type="file" class="btn btn-warning" name="userPhoto" /> -->
                {{!--
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="userPhoto">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

                <button id="upload-form" class="btn waves-effect modal-close waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button> --}}

            </form>



        </div>
    </div>

    <div class="row outer-row">

        {{#each event}} {{#is this.event ../eventName }}

        <div class="col s12 m3 l3 al">
            <div class="card ">

                <div class="card-image">
                    <img src="/Small/{{this.imageId}}.JPG">
                    <a href="/events/{{this.event}}/imageId/{{this.imageId}}">
                        <span class="imageClick"></span>
                    </a>
                </div>
                <div class="row inner-row">

                    <div class="card-action">
                        <a href="/events/{{this.event}}/imageId/{{this.imageId}}" class="waves-effect grey darken-4 waves-light btn share">id : {{this.imageId}}</a>
                    </div>

                    <div class="card-action">
                        
                        <div class="col s12 m12 l4 action action1">
                            <a href="/{{this.imageId}}/love" class="like sp">
                                <i class="material-icons fav">favorite</i>
                                <span class="vote-number" id="{{this.imageId}}" class="like-text">{{this.love}}</span>
                            </a>
                        </div>



                        <div class="col s6 m6 l4 action action2">
                            <a href="/{{this.imageId}}/laugh" class="haha sp">
                                <i class="material-icons laugh">sentiment_very_satisfied</i>
                                <span class="vote-number" id="{{this.imageId}}laugh" class="haha-text">{{this.laugh}}</span>
                            </a>
                        </div>


                        <div class="col s6 m6 l4 action">
                            <a href="/{{this.imageId}}/sad" class="downvote sp">
                                <i class="material-icons down">arrow_downward</i>
                                <span class="vote-number" id="{{this.imageId}}sad" class="downvote-text">{{this.sad}}</span>
                            </a>
                        </div>

                    </div>
                </div>



            </div>
        </div>

        {{/is}} {{/each}}


    </div>

    <div class="pagination pagination-centered center-align">
        <ul>
            {{#paginate pagination type="first"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">First</a>
            </li>
            {{/paginate}} {{#paginate pagination type="previous"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">Prev</a>
            </li>
            {{/paginate}} {{#paginate pagination type="middle" limit="7"}}
            <li {{#if active}}class="active" {{/if}}>
                <a href="{{n}}">{{n}}</a>
            </li>
            {{/paginate}} {{#paginate pagination type="next"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">Next</a>
            </li>
            {{/paginate}} {{#paginate pagination type="last"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">Last</a>
            </li>
            {{/paginate}}
        </ul>
    </div>
    <div class="fixed-action-btn vertical">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red" href="/events/{{eventName}}/leaderboard/1">
                    <i class="material-icons">insert_chart</i>
                </a>
            </li>
            <li>
                <a class="btn-floating green modal-trigger" href="#modal1">
                    <i class="material-icons">publish</i>
                </a>
            </li>
        </ul>
    </div>

<footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
                    <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">About us</a>
                </div>
                 <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">Terms</a>
                </div>
                  <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">Privacy</a>
                </div>
                <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">Career</a>
                </div>
                </p>
              </div>
            </div>
          </div>
          <div class="footer-copyright ">
            <div class="container copyright">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
            </div>
          </div>
        </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/javascript/ajaxreq.js"></script>
    <script src="/libs/dropzone.js"></script>
    <script src="/javascript/drop.js"></script>
    <script>
        $(".button-collapse").sideNav();

        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>
    <script>
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.reload();
        }
    </script>

</body>

</html>