<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="/css/fullImage.css">
    <title>Document</title>
    <style>
        .page {
            background:url("/Big/{{fullPreview}}.JPG");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            filter: blur(50px);
            position: fixed;

        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=772833366242667&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <nav>
        <div class="nav-wrapper  grey darken-4">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="#">Winners</a>
                </li>
                <li>
                    <a>Welcome {{name}}</a>
                </li>

                <li>
                    <a href="/logout" class="waves-effect waves-light">Logout</a>
                </li>

            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="#">Winners</a>
                </li>
                <li>
                    <a>Welcome {{name}}</a>
                </li>
                <li>
                    <a href="/logout" class="waves-effect waves-light">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page"></div>

    <div class="showCase">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="/Big/{{fullPreview}}.JPG">
                <a href="https://www.facebook.com/sharer/sharer.php?app_id=772833366242667&sdk=joey&u={{fullUrl}}&display=popup&ref=plugin&src=share_button" class="share-btn btn-floating halfway-fab waves-effect waves-light green darken-2"><i class="material-icons">share</i></a>
            </div>

            <div class="card-action">
                <div class="row">
                    <div class="love fix col s12 m12 l4">
                        <i class="material-icons fav">favorite</i>
                        <span>Love : </span>
                        <span id="love-data" class="data">{{love}}</span>

                    </div>
                    <div class="haha fix col s6 m6 l4">
                        <i class="material-icons laugh">sentiment_very_satisfied</i>
                        <span>Haha :</span>
                        <span id="laugh-data" class="data ">{{laugh}}</span>
                    </div>
                    <div class="downvote fix col s6 m6 l4">
                        <i class="material-icons down">arrow_downward</i>
                        <span>Downvote :</span>
                        <span id="downvote-data" class="data">{{downvote}}</span>
                    </div>
                    <div class=" buttton-design col s12 m12 l6">
                        <a class="lovebtn btn waves-effect waves-light red lighten-1" href="/{{fullPreview}}/love">Love</a>
                        <a class="hahabtn waves-effect waves-light btn  green lighten-1" href="/{{fullPreview}}/laugh">Haha</a>
                        <a class="downbtn waves-effect waves-light btn  light-blue accent-4" href="/{{fullPreview}}/sad">Downvote</a>
                    </div>
                    <div class="totalScore col s12 m12 l6">
                        <i class="material-icons">poll</i>
                        <span>Total Score:</span>
                        <span class="scoreCard"> {{total}}</span>

                    </div>
                </div>
            </div>
            <div class="card-action last">
                <div class="row">
                    <div class="love totalScore col s12 m12 l4">
                        <span>Uploded By: {{nameOfUploder}}</span>
                    </div>
                    <div class="haha totalScore col s6 m6 l4">
                        <span>{{time}}</span>
                    </div>
                    <div class="downvote totalScore col s6 m6 l4">
                        <span>Report pic</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
                    <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">About us</a>
                </div>
                 <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">Terms</a>
                </div>
                  <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">Privacy</a>
                </div>
                <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="#">Career</a>
                </div>
                </p>
              </div>
            </div>
          </div>
          <div class="footer-copyright ">
            <div class="container copyright">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
            </div>
          </div>
        </footer>
 
<script src="/javascript/fullimgajax.js"></script>
 <script>
        $(".button-collapse").sideNav();

        
    </script>
     <script>
        if (!!window.performance && window.performance.navigation.type == 2) {
            window.location.reload();
        }
    </script>
</body>

</html>