<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/basic.min.css">
    <link rel="stylesheet" href="/css/ranklist.css">
     <link rel="stylesheet" type="text/css" media="screen" href="/css/fblogin.css" />

    <title>Document</title>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '772833366242667',
                xfbml: true,
                version: 'v2.12'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav>
        <div class="nav-wrapper  grey darken-4">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="#">Winners</a>
                </li>
                <li>
                    <a href="#"  title="Login to upload" class="waves-effect waves-light btn red sp darken-3">Upload</a>
                </li>
                 <li class="fb">
                    <a href="/auth/facebook">
                        <button class="loginBtn loginBtn--facebook">
                            Login with Facebook
                        </button>
                    </a>
                </li>

            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="/">Live Events</a>
                </li>
                <li>
                    <a href="#">Winners</a>
                </li>
                <li>
                    <a>Welcome {{name}}</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn modal-trigger red darken-3" href="#modal1">Upload</a>
                </li>
                <li>
                    <a href="/logout" class="waves-effect waves-light">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="row">

        {{#each event}} {{#is this.event ../eventName }}

        <div class="col s12 m3 13 al">
            <div class="card ">
                <div class="card-image">
                    <img src="/Small/{{this.imageId}}.jpg">
                    <a href="/events/{{this.event}}/imageId/{{this.imageId}}">
                        <span class="imageClick"></span>
                    </a>
                </div>
                <div class="card-action sp1">
                     <div class="card-action share-section">

                     <a href="/events/{{this.event}}/imageId/{{this.imageId}}" class="waves-effect grey darken-4 waves-light btn share">id : {{this.imageId}}</a>

                </div>
                    <div class="action-time">
                        
                            <p>
                                <span>Total score :</span>
                                <span class="vote-number" class="like-text">{{this.total}}</span>
                            </p>
                    </div>

               

            </div>
        </div>
         </div>

        {{/is}} {{/each}}


   
    </div>

<div class="pagination pagination-centered center-align">
        <ul>
            {{#paginate pagination type="first"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">First</a>
            </li>
            {{/paginate}} {{#paginate pagination type="previous"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">Prev</a>
            </li>
            {{/paginate}} {{#paginate pagination type="middle" limit="7"}}
            <li {{#if active}}class="active" {{/if}}>
                <a href="{{n}}">{{n}}</a>
            </li>
            {{/paginate}} {{#paginate pagination type="next"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">Next</a>
            </li>
            {{/paginate}} {{#paginate pagination type="last"}}
            <li {{#if disabled}}class="disabled" {{/if}}>
                <a href="{{n}}">Last</a>
            </li>
            {{/paginate}}
        </ul>
    </div>
   <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
                    <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="/aboutus">About us</a>
                </div>
                 <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="/terms">Terms</a>
                </div>
                  <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="/privacy">Privacy</a>
                </div>
                <div class="col s12 m3 l3">
                    <a class="grey-text text-lighten-4" href="career">Career</a>
                </div>
                </p>
              </div>
            </div>
          </div>
          <div class="footer-copyright ">
            <div class="container copyright">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
            </div>
          </div>
        </footer>
 <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

</body>

</html>